.navbar {
    background-color: #1d5b11;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .navbar-container {
    display: flex;  
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
  
  .navbar-logo {
    color: #fff;
    justify-self: start;
    margin-left: 2em;
    cursor: pointer;
    text-decoration: none;
    display: flex;
    align-items: center;
  }
  .nav-item{
    display: flex;
  }
  .nav-menu {
    display: flex;
    list-style: none;
    text-align: center;
  }
  

  .nav-links {
    color: #fff;
    text-decoration: none;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
  }
  
  .nav-links:hover {
    background-color: #575757;
    border-radius: 4px;
  }
  