.search-container{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding-right: 40px;
}
.search-input{
    padding:5px 15px;
    border: none;
    border-radius: 4px;
    z-index: 1;
}
.search-button{
    border: none;
    border-radius: 50%;
    background-color: transparent;
    margin-left:-20px;
    z-index: 2;
    font-weight: bold;
    transition: transform 0.3s ease;
    cursor: pointer;
}
.search-button:hover{
    transform: scale(1.25);

}